:root {
  --nav--width: 92px;

  /* Colores */
  --first-color: #0c5df4;
  --bg-color: #12192c;
  --sub-color: #b6cefc;
  --white-color: #fff;

  /* Fuente y tipografia */
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  /* z index */
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}
.sidebar {
  flex: 0 0 260px; /* 고정 폭 (사진 느낌) */
  padding: 16px;
  overflow: auto;
  background-color: #12192c;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 0.75rem;
  padding: 0.75rem;
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.nav_link:hover {
  background-color: #0c5df4;
}
.nav_link:focus {
  background-color: #0c5df4;
}
.nav-name {
  font-size: 0.875rem;
}

/* collapse */
.collapse {
  grid-template-columns: 20px max-content 1fr;
}
.collapse__link {
  justify-self: flex-end;
  transition: 0.5;
}
.collapse-menu {
  display: none;
  padding: 0.75rem 2.25rem;
}

.collapse-sublink {
  color: #b6cefc;
  font-size: 0.875rem;
}
.collapse-sublink:hover {
  color: white;
}
.collapse-sublink:focus {
  color: white;
}
/* Rotate icon */
.rotate {
  transform: rotate(180deg);
  transition: 0.5s;
}
/* Show collapse */
.showCollapse {
  display: block;
}
.nav-brand {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  color: white;
}
.nav__toggle {
  font-size: 1.25rem;
  padding: 0.75rem;
  cursor: pointer;
}
